.col-10 {
    flex: 0 0 auto;
    padding: 1rem;
    width: 83.3333%;
    margin-left: 270px;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 154%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .5);
    outline: 0;
    margin-left: -75px;

}

 .height {
    height: 36px;
}
.form-control {
    height: 38px;
    line-height: 45px;
    background: #fff;
    font-size: 14px;
    color: #324253;
    border-radius: 5px;
    box-shadow: none;
}