.w-6 {
    width: 30% !important;
    height: 32px;
}

.table-responsive {
    overflow-x: auto;
  }
  
  .table td, .table th {
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Adds ellipsis if text overflows */
  }
  
  @media (max-width: 576px) {
    .table td, .table th {
      padding: 8px; /* Adjust padding for smaller screens */
    }
  }
  