.modal-content {
    display: flex;
    flex-direction: column;
    width: 94%;
    margin-left: 44;
}
.p-button {
    margin: 0;
    display: inline-flex;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
    /* overflow: hidden; */
    position: relative;
    height: 27px;
    padding-left: inherit;
    padding-right: inherit;
}
svg {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
}
