<div class="m-5">
  <div class="font-weight-bold h5 mb-4">
    View Registration Compliance Applications
  </div>

  <!-- Tabs -->
  <span class="text-warning ml-3">Note:<i>Filter base on license status</i></span>
  <div class="col-md-4">
    <select class="form-select" (change)="onTabChange($event)" [value]="activeTab">
      <option disabled>--select--</option>
      <option value="active">Active</option>
      <option value="suspend">Suspend</option>
      <option value="cancel">Cancel</option>
      <option value="downgrade">Downgrade</option>
    </select>
  </div>
  <!-- Suspend Tab -->
  <div *ngIf="activeTab === 'active'">
    <div class="row">
      <div class="col d-flex pl-4">
        <p class="mr-1 p-1 text-gray-600">Items Per Page</p>
        <select class="form-control-sm itemPerPage ml-2 " (change)="setLimitValue($event.target.value)"
          style="border-color: #ced4da;">
          <option class="page-item" *ngFor="let limit of set_limit">{{ limit }}</option>
        </select>
      </div>
      <div class="col-lg-7 d-flex justify-content-end pr-2">
        <p class="mr-1 p-1 text-gray-600">Search By : </p>
        <input type="text" placeholder="AppNo, BCTA No or Status" class="form-control form-control-sm col-md-4"
          id="search " [(ngModel)]="searchQuery" (input)="Searchfilter()" />
      </div>
    </div>
    <!-- Suspend Table -->
    <div class="table-responsive m-3">
      <table class="table table-bordered table-sm">
        <thead class="">
          <tr>
            <th>Bcta No</th>
            <th>Type</th>
            <th>Details</th>
            <th>Subject</th>
            <th>Date</th>
            <th>Status</th>
            <th>Action</th>
            <th>Select</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let action of tableData">
            <td>

              {{ action.bctaNo || '-' }}

            </td>
            <td>{{ action.firmType }}</td>
            <td>{{ action.details }}</td>
            <td>{{ action.subject }}</td>
            <td>{{ action.sentDate | date: 'yyyy-MM-dd' }}</td>
            <td>
              <span [ngClass]="getStatusClass(action.status)">
                {{ action.applicationStatus }}
              </span>
            </td>
             <td class="text-center">
                        <div class="d-flex justify-content-center gap-2">
                            <button  class="btn btn-primary btn-sm h-100"
                                (click)="navigate(action)">View</button>
                        </div>
                    </td>

            <td class="text-center">
              <input type="checkbox" [(ngModel)]="action.selected" (change)="onCheckboxChange(action)">
            </td>
          </tr>
          <tr *ngIf="tableData.length === 0 && !isLoading">
            <td colspan="8" class="text-center text-muted">No actions found</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Loading Spinner -->
    <div *ngIf="isLoading" class="text-center py-3">
      <i class="fa fa-spinner fa-spin"></i> Loading...
    </div>
    <!-- Remarks Section -->
    <!-- <div class="m-3">
      <div class="col-md-12 mb-3">
        <label class="form-label me-2 font-size-12">Remarks:</label>
        <input type="text" class="form-control" placeholder="Remarks" name="remarks" [(ngModel)]="formData.remarks"
          style="height: 50px; width: 300px;">
      </div>
    </div> -->

    <div class="d-flex justify-content-end">
      <button class="btn btn-success me-2" [disabled]="selectedIds.length === 0" (click)="activeAction='Suspended'"
        data-bs-toggle="modal" data-bs-target="#exampleModal">
        Endorse
      </button>
      <button class="btn btn-danger" [disabled]="selectedIds.length === 0" (click)="activeAction='rejected'"
        data-bs-toggle="modal" data-bs-target="#exampleModal">
        Reject
      </button>
    </div>

  </div>
  <div *ngIf="activeTab === 'suspend'">
    <app-view-suspend-request-app-no></app-view-suspend-request-app-no>
    <!-- <div class="row">
      <div class="col d-flex pl-4">
        <p class="mr-1 p-1 text-gray-600">Items Per Page</p>
        <select class="form-control-sm itemPerPage ml-2 " (change)="setLimitValue($event.target.value)"
          style="border-color: #ced4da;">
          <option class="page-item" *ngFor="let limit of set_limit">{{ limit }}</option>
        </select>
      </div>
      <div class="col-lg-7 d-flex justify-content-end pr-2">
        <p class="mr-1 p-1 text-gray-600">Search By : </p>
        <input type="text" placeholder="Contractor No" class="form-control form-control-sm col-md-2"
          id="search " [(ngModel)]="searchQuery" (input)="Searchfilter('Suspend')" />
      </div>
    </div> -->
    <!-- <div class="ml-2 my--3 table-responsive">
      <table class="table table-bordered table-sm">
        <thead class="">
          <tr>
            <th>SL No.</th>
            <th>Contractor No</th>
            <th>Type</th>
            <th>Details</th>
            <th>Initiated By</th>
            <th>Date</th>
            <th>Status</th>
            <th>Action</th>
            <th>Select</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let action of tableData; let i = index">
            <td>
              {{i+1 }}
            </td>
            <td>
              {{ action.firmId || '-' }}
            </td>
            <td>{{ action.firmType }}</td>
            <td>{{ action.details }}</td>
            <td>{{ action.initiatedBy }}</td>
            <td>{{ action.createdOn | date: 'yyyy-MM-dd'}}</td>
            <td>
              <span [ngClass]="getStatusClass(action.status)">
                {{ action.status }}
              </span>
            </td>
             <td class="text-center">
                        <div class="d-flex justify-content-center gap-2">
                            <button *ngIf="action.status ==='Suspension Request'" class="btn btn-primary btn-sm h-100"
                               >View</button>
                        </div>
                    </td>
            <td class="text-center">
              <input type="checkbox" [(ngModel)]="action.selected" [disabled]="isCheckboxDisabled(action)"
                (change)="onCheckboxChange(action)" />

              <!-- <input type="checkbox" [(ngModel)]="action.selected" (change)="onCheckboxChange(action)"> -->
            <!-- </td>
          </tr>
          <tr *ngIf="tableData.length === 0 && !isLoading">
            <td colspan="8" class="text-center text-muted">No actions found</td>
          </tr>
        </tbody>
      </table> -->
    <!-- </div> --> 
    <!-- Loading Spinner -->
    <!-- <div *ngIf="isLoading" class="text-center py-3">
      <i class="fa fa-spinner fa-spin"></i> Loading...
    </div> -->
    <!-- <nav *ngIf="totalCount > pageSize" class="mt-3">
      <div class="d-flex justify-content-between align-items-center flex-wrap">

        <!-- Left-aligned offset text -->
        <!-- <p class="mb-0">{{ calculateOffset() }}</p> -->

        <!-- Right-aligned pagination controls -->
        <!-- <ul class="pagination mb-0">
          <li class="page-item" [class.disabled]="pageNo === 1">
            <a class="page-link" (click)="goToPage(pageNo - 1)">Previous</a>
          </li>

          <li class="page-item" *ngFor="let page of getPages()" [class.active]="pageNo === page">
            <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
          </li>

          <li class="page-item" [class.disabled]="pageNo === getTotalPages()">
            <a class="page-link" (click)="goToPage(pageNo + 1)">Next</a>
          </li>
        </ul>
      </div>
    </nav>  -->
     </div>



    <!-- <div class="d-flex justify-content-end mt-4">
      <button class="btn btn-success me-2" [disabled]="selectedIds.length === 0" (click)="activeAction='Suspended'"
        data-bs-toggle="modal" data-bs-target="#exampleModal">
        Endorse
      </button>
      <button class="btn btn-danger" [disabled]="selectedIds.length === 0" (click)="activeAction='rejected'"
        data-bs-toggle="modal" data-bs-target="#exampleModal">
        Reject
      </button>
    </div> -->
  </div>

  <!-- Cancel Tab -->
   <div *ngIf="activeTab === 'cancel'">
    <div class="table-responsive m-3">
        <app-view-cancel-request-app-no></app-view-cancel-request-app-no>
     </div>
    <!-- <div class="row"> -->
      <!-- <div class="col d-flex pl-4">
        <p class="mr-1 p-1 text-gray-600">Items Per Page</p>
        <select class="form-control-sm itemPerPage ml-2 " (change)="setLimitValue($event.target.value)"
          style="border-color: #ced4da;">
          <option class="page-item" *ngFor="let limit of set_limit">{{ limit }}</option>
        </select>
      </div>
      <div class="col-lg-7 d-flex justify-content-end pr-2">
        <p class="mr-1 p-1 text-gray-600">Search By : </p>
        <input type="text" placeholder="AppNo, BCTA No or Status" class="form-control form-control-sm col-md-4"
          id="search " [(ngModel)]="searchQuery" (input)="Searchfilter('Cancel')" />
      </div> -->
    <!-- </div> -->
   
    <!-- <div class="table-responsive ml-2 my--3">
      <table class="table table-bordered table-sm">
        <thead class="">
          <tr>
            <th>Sl No.</th>
            <th>Firm No</th>
            <th>Firm Type</th>
            <th>Details</th>
            <th>Initiated By</th>
            <th>Date</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let app of filteredApplications; let i = index">
            <td>{{i+1}}</td>
            <td>{{ app.firmNo}}</td>
            <td>{{ app.firmType }}</td>
            <td>{{ app.details }}</td>
            <td>{{ app.initiatedBy }}</td>
            <td>{{ app.initiatedDate | date: 'yyyy-MM-dd' }}</td>
            <td>{{ app.status}}</td>
            <td class="text-center">
              <input type="checkbox" [(ngModel)]="app.selected" (change)="onCheckboxChange(app)">
            </td>
            <!-- <td>
              <span [ngClass]="getStatusClass(app.status)">
                {{ app.status }}
              </span>
            </td> -->
            <!-- <td class="text-center">
              <input type="checkbox" [(ngModel)]="app.selected" (change)="onCheckboxChange(app)">
            </td> -->
          <!-- </tr>
          <tr *ngIf="filteredApplications.length === 0 && !isLoading">
            <td colspan="8" class="text-center text-muted">No cancellation applications found</td>
          </tr>
          <tr *ngIf="isLoading">
            <td colspan="8" class="text-center">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </td>
          </tr> -->
        <!-- </tbody>
      </table>
       <nav *ngIf="totalCount > pageSize" class="mt-3">
      <div class="d-flex justify-content-between align-items-center flex-wrap"> -->

      
        <!-- <p class="mb-0">{{ calculateOffset() }}</p>

       
        <ul class="pagination mb-0">
          <li class="page-item" [class.disabled]="pageNo === 1">
            <a class="page-link" (click)="goToPage(pageNo - 1)">Previous</a>
          </li>

          <li class="page-item" *ngFor="let page of getPages()" [class.active]="pageNo === page">
            <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
          </li>

          <li class="page-item" [class.disabled]="pageNo === getTotalPages()">
            <a class="page-link" (click)="goToPage(pageNo + 1)">Next</a>
          </li>
        </ul> -->
      <!-- </div>
    </nav>
    </div> -->
    <!-- <div class="d-flex justify-content-end mt-3">
      <button class="btn btn-success me-2" [disabled]="selectedIds.length === 0" (click)="activeAction='cancel'"
        data-bs-toggle="modal" data-bs-target="#exampleModal">
        Endorse
      </button>
      <button class="btn btn-danger" [disabled]="selectedIds.length === 0" (click)="activeAction='rejected'"
        data-bs-toggle="modal" data-bs-target="#exampleModal">
        Reject
      </button> --> 
    </div>
    <!-- Cancel Button -->
    <!-- <div class="d-flex justify-content-end">
      <button class="btn btn-danger" [disabled]="selectedIds.length === 0" (click)="activeAction='cancel'"
        data-bs-toggle="modal" data-bs-target="#exampleModal">
        Endorse
      </button>
      <button class="btn btn-danger" [disabled]="selectedIds.length === 0" (click)="activeAction='rejected'"
        data-bs-toggle="modal" data-bs-target="#exampleModal">
        Reject
      </button>
    </div> -->
  <!-- </div> -->

  <!-- Downgrade Tab -->
  <div *ngIf="activeTab === 'downgrade'">
    <app-view-downgrade-request-app-no></app-view-downgrade-request-app-no>
  </div>


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #495f8a">
          <h5 class="modal-title text-white" id="exampleModalLabel">{{ modalTitle }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            <label class="form-label font-size-12">Remarks:<span class="text-danger">*</span></label>
            <textarea class="form-control" placeholder="Remarks" name="remarks" [(ngModel)]="formData.remarks" rows="4">
          </textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" #closeRemarkButton class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="submitAction()">Save</button>
        </div>
      </div>
    </div>
  </div>