<div class="scroll-wrapper">

  <div class="ml-4">

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Is Equipment Registered</th>
          <th>Vehicle Type*</th>
          <th>Registration No*</th>
          <th>Owner Name</th>
          <th>Owner CID</th>
          <th>Equipment Type*</th>
          <th>Remarks</th>
          <th>Download</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="tableData?.length === 0">
          <td colspan="9" class="text-center">No data found</td>
        </tr>

        <ng-container *ngFor="let data of tableData">
          <tr *ngIf="data.equipmentType !== 'Not Registered'; else notRegistered">
            <td>Yes</td>
            <td>{{ data.vehicleType || '-' }}</td>
            <td>{{ data.registrationNo }}</td>
            <td>{{ data.owner || '-' }}</td>
            <td>{{ data.cdbNo || 'N/A' }}</td>
            <td>{{ data.equipmentName }}</td>
            <td>-</td>
            <td class="text-center bg-white">
              <a *ngIf="data.filePath" (click)="downloadFile(data.filePath)" class="btn" style="cursor: pointer;">
                <i class="pi pi-download"></i>
              </a>
            </td>
            <td>
              <button class="btn btn-info btn-sm" (click)="getVehicleData(data)" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Verify</button>
            </td>
          </tr>

          <ng-template #notRegistered>
            <tr>
              <td>No</td>
              <td>-</td>
              <td>{{ data.registrationNo }}</td>
              <td>-</td>
              <td>{{ data.cdbNo || 'N/A' }}</td>
              <td>{{ data.equipmentName }}</td>
              <td>-</td>
              <td class="text-center bg-white">
                <a *ngIf="data.filePath" (click)="downloadFile(data.filePath)" class="btn" style="cursor: pointer;">
                  <i class="pi pi-download"></i>
                </a>
              </td>
              <td>
                <button class="btn btn-info btn-sm" (click)="getVehicleData(data)" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">Verify</button>
              </td>
            </tr>
          </ng-template>
        </ng-container>
      </tbody>
    </table>


    <form>
      <div class="col-md-4 p-badge-no-gutter">
        <label class="form-label">Does the firm fulfill the required mandatory equipment:<span
            class="text-danger font-size-12">*</span></label>
        <select class="form-select h-50" name="fulfillsRequirement" [(ngModel)]="tData.fulfillsRequirement" required
          #fulfillsRequirement="ngModel">
          <option value="">Select</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
        <div *ngIf="fulfillsRequirement.invalid && fulfillsRequirement.touched" class="text-danger font-size-12">
          Please select if the requirement is fulfilled
        </div>
      </div>
      <div class="row m-0 mt-5" *ngIf="tData.fulfillsRequirement === 'No' && applicationStatus === 'Submitted'">
        <div class="col-md-4 mb-3">
          <label class="form-label">
            Last Date to Resubmit:<span class="text-danger font-size-12">*</span>
          </label>
          <input type="date" class="form-control form-control-sm" name="resubmitDate" [(ngModel)]="tData.resubmitDate"
            #resubmitDate="ngModel" required [min]="minResubmitDate" />
          <div *ngIf="resubmitDate.invalid && resubmitDate.touched" class="text-danger font-size-12">
            Please provide a date
          </div>
        </div>

        <div class="col-md-8 mb-3">
          <label class="form-label">Remarks</label>
          <textarea class="form-control form-control-sm" rows="2" name="remarks" [(ngModel)]="tData.remarks"></textarea>
        </div>

      </div>

      <div class="col-md-12 mb-3 col-md-12 mb-3 ml--3 mt-3" *ngIf="tData.fulfillsRequirement === 'Yes'">
        <label class="form-label">Remarks</label>
        <textarea class="form-control form-control-sm" rows="2" name="remarks" [(ngModel)]="tData.remarks"></textarea>
      </div>

      <!-- Buttons -->
      <div class="d-flex justify-content-end mt-4 align-items-center gap-2">
        <!-- Save & Forward -->
        <button type="submit" class="btn btn-success"
          *ngIf="applicationStatus === 'Rejected' && tData.fulfillsRequirement === 'No'" (click)="notifyContractor()"
          [disabled]="isSaving">
          <span *ngIf="isSaving" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
          Save & Forward
        </button>


        <!-- Save & Next -->
     <button type="submit" class="btn btn-success"
        *ngIf="((tData.fulfillsRequirement === 'Yes') || applicationStatus === 'Rejected') && applicationStatus !== 'Resubmitted HR and EQ'"
        (click)="saveAndNext()" [disabled]="isSaving">
      <span *ngIf="isSaving" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
      Save & Next
    </button>



        <!-- Update -->
        <button type="submit" class="btn btn-success" *ngIf="applicationStatus === 'Resubmitted HR and EQ'"
          (click)="update()" [disabled]="isSaving">
          <span *ngIf="isSaving" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
          Update
        </button>

        <!-- Action -->
        <button class="btn btn-primary"
          *ngIf="applicationStatus === 'Resubmitted HR and EQ' && tData.fulfillsRequirement === 'No'"
          data-bs-toggle="modal" data-bs-target="#exampleModal">
          Action
        </button>

        <!-- Reinstate -->
        <!-- <a nz-popconfirm [nzPopconfirmTitle]="'Do you want to Reinstate the application?'"
          (nzOnConfirm)="reinstate(bctaNo)">
          <button class="btn btn-danger h-100" *ngIf="licenseStatus === 'Suspended'">
            Reinstate
          </button>
        </a> -->
        <a nz-popconfirm [nzPopconfirmTitle]="'Are you sure you want to reject this application?'"
          [nzOkText]="'Yes, Reject'" [nzCancelText]="'Cancel'" (nzOnConfirm)="rejectApplication()">
          <button class="btn btn-danger"
            *ngIf="applicationStatus === 'Suspension Resubmission' && tData.fulfillsRequirement === 'No'">
            Reject
          </button>
        </a>
      </div>

    </form>
  </div>
</div>



<!-- Action Modal -->
<div class="modal fade" id="actionModal" tabindex="-1" aria-labelledby="actionModalLabel">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <form #actionForm="ngForm">
        <div class="modal-header" style="background-color:#495f8a ">
          <h5 class="modal-title text-white" id="actionModalLabel">Take Action</h5>
          <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label">Action Type<span class="text-danger">*</span></label>
              <select class="form-select h-50" [(ngModel)]="selectedAction.actionType" name="actionType" required
                (change)="onActionTypeChange()">
                <option value="">-- Select --</option>
                <option value="cancel">Cancel</option>
                <option value="suspend">Suspend</option>
              </select>
            </div>

            <div class="col-md-6 mb-3">
              <label class="form-label">Action Date <span class="text-danger">*</span></label>
              <input type="date" class="form-control h-50" [(ngModel)]="selectedAction.actionDate" name="actionDate"
                [disabled]="true" required />
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">Remarks<span class="text-danger">*</span></label>
            <textarea rows="3" class="form-control" [(ngModel)]="selectedAction.remarks" name="remarks"
              required></textarea>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeModal()" #closeModal
            data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" (click)="submitAction()">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Vehicle Details </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="certificate-container border">
          <img src="../../assets/logo.png" alt="Background Logo" class="background-logo">
          <div class="content">
            <div class="header">
              <div class="subtitle">Bhutan Construction and Transport Authority - BCTA</div>
            </div>

            <!-- <p *ngIf="!VehicleDetails && !showMessage" class="text-danger text-center">
              <b>{{showMessage}}</b>
            </p>
            <p *ngIf="showMessage" class="text-danger text-center">
              <b>{{showMessage}}</b>
            </p> -->
            <p *ngIf="showErrorMessage" class="text-danger text-center">
              <b>{{showErrorMessage}}</b>
            </p>

            <div *ngIf="VehicleDetails && !showErrorMessage">
              <table class="table col-lg-7 offset-lg-3 font-size-14">
                <tr>
                  <th>Registration No :</th>
                  <td>{{VehicleDetails.vehicleNumber}}</td>
                </tr>
                <tr>
                  <th>Owner:</th>
                  <td>{{VehicleDetails.ownerName}}</td>
                </tr>
                <tr>
                  <th>Vehicle Type:</th>
                  <td>{{VehicleDetails.vehicleTypeName}}</td>
                </tr>
                <tr>
                  <th>Vehicle Model:</th>
                  <td>{{VehicleDetails.vehicleModel}}</td>
                </tr>
                <tr>
                  <th>Chassis Number :</th>
                  <td>{{VehicleDetails.chassisNumber}}</td>
                </tr>
                <tr>
                  <th>Engine Number:</th>
                  <td>{{VehicleDetails.engineNumber}}</td>
                </tr>
                <tr>
                  <th>Expiry Date:</th>
                  <td>{{VehicleDetails.expiryDate}}</td>
                </tr>
              </table>
            </div>

            <!-- <table class="table col-lg-8 offset-lg-2">
              <tr>
                <th *ngIf="!employeeEngaged" colspan="2" class="text-center text-success">This Equipment is not engaged in any work or project.</th>
                <th *ngIf="employeeEngaged" colspan="2" class="text-center text-danger">This Equipment is engaged in work.</th>
              </tr>
            </table> -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>