<div class="card container-fluid">
    <p class="m-3 font-bold font-size-18"><strong>Registered Specialized Firm's
            Information</strong></p>

    <form>
        <div class="row m-3">
            <div class="col-md-4 mb-3">
                <label class="form-label me-2 font-size-12">Firm Name:</label>
                <span class="font-size-12">{{formData?.firmName || 'N/A'}}</span>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label me-2 font-size-12">BCTA No:</label>
                <span class="font-size-12">{{formData?.cdbNo || 'N/A'}}</span>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label me-2 font-size-12">Contact No:</label>
                <span class="font-size-12">{{formData?.mobileNo || 'N/A'}}</span>
            </div>

            <div class="col-md-4 mb-3">
                <label class="form-label me-2 font-size-12">Email Address:</label>
                <span class="font-size-12">{{formData?.emailAddress || 'N/A'}}</span>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label me-2 font-size-12">Classification:</label>
                <span class="font-size-12" [ngSwitch]="formData?.classification">
                    <span *ngSwitchCase="'S'">S - Small</span>
                    <span *ngSwitchCase="'M'">M - Medium</span>
                    <span *ngSwitchCase="'L'">L - Large</span>
                    <span *ngSwitchDefault>N/A</span>
                </span>
            </div>
        </div>

        <div class="container-fluid">
            <ul class="nav nav-tabs nav-fill w-100" id="myTab" role="tablist">

                <li class="nav-item" role="presentation">
                    <button (click)="specializedFirmForm()" class="nav-link border"
                        [class.active]="activeTabId === 'sfemployee'" id="employee-tab"
                        (click)="setActiveTab('sfemployee')" type="button" role="tab">
                        {{ formData?.firmType === 'specializedFirm' ? 'Specialized firms Information' : 'Permanent
                        Employees' }}
                    </button>
                </li>

                <li class="nav-item" role="presentation">
                    <button (click)="monitoringTeam()" class="nav-link border"
                        [class.active]="activeTabId === 'sfmonitoring'" id="monitoring-tab"
                        (click)="setActiveTab('sfmonitoring')"
                        [disabled]="licenseStatus !== 'Suspended' && applicationStatus === 'Resubmitted HR'"
                        type="button" role="tab">
                        Monitoring Team Users
                    </button>
                </li>

            </ul>
        </div>
    </form>
</div>

<div class="tab-content">

    <div class="tab-pane fade" [class.show]="activeTabId === 'sfemployee'" [class.active]="activeTabId === 'sfemployee'"
        id="employee" role="tabpanel" aria-labelledby="employee-tab">
        <p><app-sf-permanent-employees (activateTab)="onActivateTab($event)" [id]="id"></app-sf-permanent-employees></p>
    </div>

    <div class="tab-pane fade" [class.show]="activeTabId === 'sfmonitoring'"
        [class.active]="activeTabId === 'sfmonitoring'" id="monitoring" role="tabpanel"
        aria-labelledby="monitoring-tab">
        <p><app-sf-monitoring-team [id]="id"></app-sf-monitoring-team></p>
    </div>
</div>