<!-- Display General Information component outside of tabs -->
<div class="card mr--4 ml--4 mt--3">
    <div class="card-body pt-0"> 
        <app-consultant-general-information  [data]="consultantGeneralInformationsData" [title]="title"></app-consultant-general-information>
        <!-- Tab navigation -->
        <ul class="nav nav-tabs bg-body mt-5 d-flex flex-wrap justify-content-between p-0" id="myTab-1" role="tablist">
            <li class="nav-item flex-fill text-center">
                <a (click)="selectTab('consultant-owner-information')" class="nav-link active border rounded-0" id="pills-profile-tab-fill" data-toggle="pill" href="#pills-profile-fill" role="tab" aria-controls="pills-profile" aria-selected="false">Owner Information</a>
            </li>
            <li *ngIf="status !=='Cancelled'"  class="nav-item flex-fill text-center">
                <a (click)="selectTab('consultant-human-resource')" class="nav-link border rounded-0"  id="pills-profile-tab-fill" data-toggle="pill" href="#pills-profile-fill" role="tab" aria-controls="pills-profile" aria-selected="false">Human Resource</a>
            </li>
            <li *ngIf="status !=='Cancelled'"  class="nav-item flex-fill text-center">
                <a (click)="selectTab('consultant-equipment')" class="nav-link border rounded-0"  id="pills-contact-tab-fill" data-toggle="pill" href="#pills-contact-fill" role="tab" aria-controls="pills-contact" aria-selected="false">Equipment</a>
            </li>
            <li  class="nav-item flex-fill text-center">
                <a (click)="selectTab('consultant-work-classification')" class="nav-link border rounded-0"  id="pills-contact-tab-fill" data-toggle="pill" href="#pills-contact-fill" role="tab" aria-controls="pills-contact" aria-selected="false">Work Classification</a>
            </li>
            <li  class="nav-item flex-fill text-center">
                <a (click)="selectTab('consultant-track-record')" class="nav-link border rounded-0"  id="pills-contact-tab-fill" data-toggle="pill" href="#pills-contact-fill" role="tab" aria-controls="pills-contact" aria-selected="false">Track Record</a>
            </li>
            <li  class="nav-item flex-fill text-center">
                <a (click)="selectTab('consultant-comments-adverse-records')" class="nav-link border rounded-0"  id="pills-contact-tab-fill" data-toggle="pill" href="#pills-contact-fill" role="tab" aria-controls="pills-contact" aria-selected="false">Records</a>
            </li>
        </ul>

        <!-- Tab content -->
        <div class="tab-content mb--3">
        <!-- Owner information -->
        <app-consultant-owner-information *ngIf="selectedTab === 'consultant-owner-information' || selectedTab === 'consultant-general-information'" [data]="consultantownerInformation"></app-consultant-owner-information>

        
        <!-- health resource  -->
        <app-consultant-human-resource *ngIf="selectedTab === 'consultant-human-resource'" [data]="consultanthumanResourceData"></app-consultant-human-resource>

        <!-- Equipment -->
        <app-consultant-equipment *ngIf="selectedTab === 'consultant-equipment'" [data]="consultantequipmentData"></app-consultant-equipment>

        <!-- work Classification -->
        <app-consultant-work-classification *ngIf="selectedTab === 'consultant-work-classification'" [data]="consultantworkClassificationData"></app-consultant-work-classification>

        <!-- tack records  -->
        <app-consultant-track-record *ngIf="selectedTab === 'consultant-track-record'" [data]="consultanttrackRecordData"></app-consultant-track-record>

        <!-- comments/ adverse records  -->
        <app-consultant-comments-adverse-records *ngIf="selectedTab === 'consultant-comments-adverse-records'" [data]="consultantcommentsAdverseRecordsData"></app-consultant-comments-adverse-records>
        </div>
    </div>
</div>
