*{
   
    font-family: DM Sans, sans-serif;
}
td{
    color: rgb(7, 1, 1);
    font-weight:500;
}


hr{
    color: rgb(5, 0, 0);
    border-bottom: 1px solid;
}

.form-control {
    height: auto;
    line-height: 1.5;
    background: #fff;
    font-size: 14px;
    color: #324253;
    border-radius: 0.375rem;
    box-shadow: none;
  }
  
  .table-responsive {
    max-width: 100%;
    overflow-x: auto;
  }
  

  
  .modal-lg {
    max-width: 80%;
  }
  
  .text-danger {
    font-size: 0.875rem;
  }
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 88%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .5);
    outline: 0;
    margin-left: inherit;
}
svg {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
}
