<div class="d-flex justify-content-center align-items-center" style="height: 100vh;" *ngIf="loading">
  <div>
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <p class="mt-2">Loading...</p>
  </div>
</div>
<div class="container-fluid" *ngIf="!loading">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card ml--4 mr--4 mt--3">
          <div class="alert alert-warning" *ngIf="showErrorMessage">System error, check your internet and reload the page.</div>
          <!-- card header starts -->
          <div class="card-header d-flex justify-content-start p-0 m-0 pl-2">
            <div class="header-title">
              <h4 class="card-title font-medium text-gray-700">List of Cancelled specialized Firm</h4>
            </div>
          </div>
          <div class="row mb--4">
            <div class="col d-flex pl-4">
              <p class="mr-1 p-1 text-gray-600">Items Per Page</p>
              <select class="form-control-sm itemPerPage ml-2 " (change)="setLimitValue($event.target.value)"
                style="border-color: #ced4da;">
                <option class="page-item" *ngFor="let limit of set_limit">{{ limit }}</option>
              </select>
            </div>
            <div class="col d-flex justify-content-end pr-2">
              <p class="mr-1 p-1 text-gray-600">Search By : </p>
              <input type="text" placeholder="BCTA No, Owner Details, Name Of Firm"
                class="form-control  form-control-sm w-6" id="search " [(ngModel)]="searchQuery"
                (input)="SearchFilter()" />
            </div>
          </div>
          <div>
            <!-- card Table starts -->
            <div class="table-responsive p-0 m-0 ml-2">
              <table id="datatable-1" class="table table-striped table-bordered mt-4">
                            <thead>
                                <tr class="text-center">
                                    <!-- <th>SL #</th> -->
                                    <th class="text-center p-1">#</th>
                                    <th>BCTA No.</th>
                                    <th>Owner Details</th>
                                    <th>Ownership Type</th>
                                    <th>Name of Firm</th>
                                    <th>Dzongkhag</th>
                                    <th>Mobile#</th>
                                    <th>Email</th>
                                    <th>Cancelled Date</th>
                                    <th>Issue Date</th>
                                    <th>Expiry Date</th>
                                    <!-- <th *ngIf="shouldShowActionButton()" class="text-center" >Action</th> -->
                                    </tr>
                            </thead>
                            <tbody> 
                              <tr *ngIf="Tabledata?.length === 0">
                                <td colspan="11" class="text-center">No data found</td>
                            </tr>
                                <tr *ngFor="let data of Tabledata  let i = index" (click)="navigate(data)">
                                    <td class="p-1 text-center">{{ (pageNo - 1) * pageSize + i + 1 }}</td>
                                      <td class="text-center"><a class=" font-bold text-primary sl_no">{{data.specializedFirmNo}}</a></td>
                                      <td class="text-center p-0" (click)="openModal($event)">
                                        <pre class="font-size-12 mb--1 p-2" style="
                                        font-family: DM Sans, sans-serif;white-space: pre-line; word-break: break-all;"> {{ data.OwnerDetails }}</pre>
                                      </td>
                                       <td (click)="openModal($event)">{{ data.ownershipType }}</td>
                                       <td (click)="openModal($event)">{{ data.nameOfFirm}}</td>
                                       <td (click)="openModal($event)"> {{ data.dzongkhagName}}</td>
                                       <td  class="text-center" (click)="openModal($event)">{{ data.mobileNo }}</td>
                                       <td (click)="openModal($event)">{{ data.email}}</td>
                                       <td class="text-center" (click)="openModal($event)">{{ data.cancelledDate}}</td>
                                       <td class="text-center" (click)="openModal($event)">
                        {{ data.issueDate | date: 'dd-MM-yyyy' }}
                      </td>
                                        <td class="text-center" (click)="openModal($event)">
                        {{ data.expiryDate | date: 'dd-MM-yyyy'}}
                     </td>
                                       
                                      <!-- <td  *ngIf="shouldShowActionButton()" class="text-center" (click)="openModal($event)">
                                      <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getid(data.specializedFirmNo)">
                                        Reregister
                                     </button>
                                 </td>  -->
                             </tr> 
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="Tabledata" class="justify-content-start mb--3">
                      <div class="justify-content-start font-size-12 font-bold ml-2">
                          <p>{{ calculateOffset() }}</p>
                          <div class="d-flex justify-content-end m-3 mr-0 m-lg--5">
                            <div *ngIf="Tabledata" class="Page navigation">
                              <ul class="pagination pagination-sm mr-2 m--5 ml--1">
                                <li class="page-item" (click)="previousPage()">
                                  <a class="page-link pointer">Previous</a>
                                </li>
                                <ng-container *ngFor="let page of generatePageArray()">
                                    <li class="page-item" [class.active]="page === pageNo" (click)="goToPage(page)">
                                      <a class="page-link" *ngIf="page !== -1">{{ page }}</a>
                                      <span class="page-link ellipsis" *ngIf="page === -1">...</span>
                                    
                                  </ng-container>
                                <li class="page-item" (click)="nextPage()">
                                  <a class="page-link pointer">Next</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p-toast></p-toast>
                    <!-- card Table starts -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" (hidden.bs.modal)="cancel(actionForm)">
                      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                        <div class="modal-content mb-auto">
                          <div class="modal-header">
                            <h5 class="modal-title"id="addAgencyBtn">Action Form</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form #actionForm="ngForm" class="mt--3">
                              <div class="row">
                                <div class="col col-6" [class.was-validated]="DateInput.touched && DateInput.invalid">
                                  <label for="Email" class="font-size-14">Action Date<span class="mandatory">*</span></label>
                                   <input #DateInput="ngModel" type="date" class="form-control form-control-sm" id="Date" name="Date" [(ngModel)]="formData.Date" [max]="today" required />
                                   <div *ngIf="DateInput.touched && DateInput.invalid" class="invalid-feedback">
                                       Please enter Date
                                   </div>
                                     </div>
                                     <div class="col">
                                      <label for="fileInput">Upload Document</label>
                                      <input #fileInput [ngClass]="{'is-invalid': fileSizeExceeded || fileTypeInvalid}" class="form-control form-control-sm" type="file" (change)="onFileChanged($event)" multiple accept=".pdf,.jpg"/>
                                      <div *ngIf="fileSizeExceeded" class="invalid-feedback">
                                        File size exceeds {{ maxFileSizeMB }} MB limit. Please choose a smaller file.
                                      </div>
                                      <div *ngIf="fileTypeInvalid" class="invalid-feedback">
                                          Upload failed. Only pdf. and jpg are allowed.
                                      </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                      <div class="col col-12" [class.was-validated]="DetailsInput.touched && DetailsInput.invalid">
                                        <label for="Details" class="font-size-14">Remarks <span class="mandatory">*</span></label>
                                        <textarea #DetailsInput="ngModel" class="form-control form-control-sm" id="Details" name="Details" [(ngModel)]="formData.Details" required></textarea>
                                        <div *ngIf="DetailsInput.touched && DetailsInput.invalid" class="invalid-feedback">
                                            Please enter Remarks.
                                        </div>
                                  </div>
                                    </div>
                                  
                              </form>
                          </div>
                          <div class="modal-footer">
                            <div class="flex justify-content-center gap-2">
                              <p-button type="button" pRipple (click)="SaveSpecializedFirm(actionForm)" label="Save" severity="success"></p-button>
                            </div>
                            <button  (click)="cancel(actionForm)" #closeButton type="button" class="btn  btn-danger" data-bs-dismiss="modal">
                                Cancel
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
      