<div class="scroll-wrapper">

    <form #hrForm="ngForm">
        <div class="row g-3 m-4">
            <!-- Auto fields -->
            <table class="table table-bordered table-striped text-center">
                <thead>
                    <tr>
                        <th>CID No</th>
                        <th>Full Name</th>
                        <th>Gender</th>
                        <th>Nationality</th>
                        <th>Qualification</th>
                        <th>Joining Date</th>
                        <th>Trade Fields</th>
                        <th>Pay Slip</th>
                        <th>TDS/HC/Pension</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of tableData">
                        <td>{{ data.cId }}</td>
                        <td>{{data.name }}</td>
                        <td>{{data.sex }}</td>
                        <td>{{data.countryName }}</td>
                        <td>{{data.qualification }}</td>
                        <td>{{data.joiningDate }}</td>
                        <td>{{data.tradeName }}</td>
                        <td class="text-center bg-white">
                            <a *ngIf="data.paySlipFilePath" (click)="downloadFile(data.paySlipFilePath)">
                                <i class="pi pi-download"></i>
                            </a>
                        </td>
                        <td class="text-center bg-white">
                            <button type="button" class="btn btn-outline-info btn-sm" (click)="fetchTdsHcPension()">
                                Fetch TDS/HC/Pension
                            </button>
                        </td>
                        <td>{{data.remarks }}</td>
                    </tr>

                    <tr *ngIf="tableData.length === 0">
                        <td colspan="10" class="text-center text-muted">No data available</td>
                    </tr>
                </tbody>
            </table>

            <!-- Does the firm fulfill HR requirement -->
            <div class="col-md-6">
                <label class="form-label">Does the firm fulfill the required Human Resources?<span
                        class="text-danger">*</span></label>
                <select class="form-select form-control-sm" [(ngModel)]="tData.hrFulfilled" name="hrFulfilled" #hrFulfilled="ngModel" required>
                    <option value="">-- Select --</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                <div *ngIf="emptyHrFulfilledMsg" class="text-danger font-size-12">
                    {{emptyHrFulfilledMsg}}
                </div>
            </div>

            <!-- Conditional fields when HR not fulfilled -->
            <ng-container *ngIf="tData.hrFulfilled === 'No'">
                <div class="col-md-6">
                    <label class="form-label">Last Date to Resubmit<span class="text-danger">*</span></label>
                    <input type="date" class="form-control form-control-sm" [(ngModel)]="tData.resubmitDate"
                        name="resubmitDate" required />
                </div>
                <div class="col-md-12">
                    <label class="form-label">Remarks<span class="text-danger">*</span></label>
                    <textarea class="form-control form-control-sm" rows="2" [(ngModel)]="tData.remarks" name="remarks"
                        required></textarea>
                </div>
            </ng-container>

            <!-- Remarks when HR is fulfilled -->
            <ng-container *ngIf="tData.hrFulfilled === 'Yes'">
                <div class="col-md-12">
                    <label class="form-label">Remarks</label>
                    <textarea class="form-control form-control-sm" rows="2" [(ngModel)]="tData.remarks"
                        name="remarks"></textarea>
                </div>
            </ng-container>

            <div class="row mt-3">
                <div class="col-md-12 d-flex justify-content-end gap-2">

                    <!-- Save and Forward / Save and Next -->
                    <ng-container *ngIf="applicationStatus !== 'Resubmitted HR'">
                        <button *ngIf="tData.hrFulfilled === 'No'" type="button" class="btn btn-success"
                            (click)="saveAndNext()" [disabled]="isSaving">
                            <span *ngIf="isSaving" class="spinner-border spinner-border-sm me-2"></span>
                            {{ isSaving ? 'Forwarding...' : 'Save and Forward' }}
                        </button>

                        <button *ngIf="tData.hrFulfilled === 'Yes'" type="button" class="btn btn-success"
                            (click)="saveAndNext()" [disabled]="isSaving">
                            <span *ngIf="isSaving" class="spinner-border spinner-border-sm me-2"></span>
                            {{ isSaving ? 'Saving...' : 'Save and Next' }}
                        </button>
                    </ng-container>

                    <!-- Update Button -->
                    <button *ngIf="applicationStatus === 'Resubmitted HR'" type="button" class="btn btn-success"
                        (click)="update()" [disabled]="isSaving">
                        <span *ngIf="isSaving" class="spinner-border spinner-border-sm me-2"></span>
                        {{ isSaving ? 'Saving...' : 'Update' }}
                    </button>

                    <!-- Action Button -->
                    <button type="button" class="btn btn-primary"  data-bs-toggle="modal"
                        data-bs-target="#staticBackdrops">
                        Action
                    </button>
                    <!-- Reinstate Button -->
                    <!-- <button class="btn btn-danger" (click)="reinstate(bctaNo)"
                        data-bs-toggle="modal" data-bs-target="#reinstateModal">
                        Reinstate
                    </button> -->
                    <a nz-popconfirm [nzPopconfirmTitle]="'Do you want to Reinstate the application?'"
                        (nzOnConfirm)="reinstate(bctaNo)">
                        <button class="btn btn-danger h-100">
                            Reinstate
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="modal fade" id="staticBackdrops" tabindex="-1" aria-labelledby="actionModalLabel">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <form #actionForm="ngForm">
                <div class="modal-header" style="background-color:#495f8a ">
                    <h5 class="modal-title text-white" id="actionModalLabel">Take Action</h5>
                    <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Action Type<span class="text-danger">*</span></label>
                            <select class="form-select h-50" [(ngModel)]="selectedAction.actionType" name="actionType"
                                required (change)="onActionTypeChange()">
                                <option value="">-- Select --</option>
                                <option value="cancel">Cancel</option>
                                <option value="suspend">Suspend</option>
                            </select>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label class="form-label">Action Date <span class="text-danger">*</span></label>
                            <input type="date" class="form-control h-50" [(ngModel)]="selectedAction.actionDate"
                                name="actionDate" [disabled]="true" required />
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Remarks<span class="text-danger">*</span></label>
                        <textarea rows="3" class="form-control" [(ngModel)]="selectedAction.remarks" name="remarks"
                            required></textarea>
                    </div>

                    <!-- Downgrade Table -->
                    <div *ngIf="selectedAction.actionType === 'cancel'" class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Work Category</th>
                                    <th>New Class</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let downgrade of downgradeList; trackBy: trackByWorkCategory">
                                    <td>{{ downgrade.workCategory }}</td>
                                    <td>
                                        <div *ngFor="let cls of downgrade.classifications">
                                            <label [class.text-muted]="!cls.checked">
                                                <input type="checkbox" [(ngModel)]="cls.checked"
                                                    [name]="'checked_' + downgrade.workCategory + '_' + cls.id" />
                                                {{ cls.name }}
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="closeModal()"
                        data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" (click)="submitAction()">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <div class="modal fade" id="reinstateModal" tabindex="-1" aria-labelledby="reinstateModalLabel">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color:  #495f8a">
                <h5 class="modal-title text-white" id="reinstateModalLabel">Reinstate Application Details</h5>
                <button type="button" class="btn-close" (click)="closeReinstateModal()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="reinstateData">
                    <div class="mb-3">
                        <label class="form-label">Document:</label>
                        <button class="btn btn-sm btn-outline-primary"
                            (click)="downloadFile(reinstateData.document_path)">View doc</button>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Reason:</label>
                        <input type="text" class="form-control" [value]="reinstateData.justification" readonly>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Submission Date:</label>
                        <input type="text" class="form-control" [value]="reinstateData.submission_date" readonly>
                    </div>
                </div>
                <div *ngIf="!reinstateData">
                    <span class="text-muted">No data available.</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeReinstateModal()"
                    data-bs-dismiss="modal">Close</button>
                <button class="btn btn-danger btn" (click)="reinstate(reinstateData.firm_id)">Reinstate</button>
            </div>
        </div>
    </div>
</div> -->