<div class="scroll-wrapper">

    <form #hrForm="ngForm">
        <div class="row g-3 m-4">
            <!-- Auto fields -->
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>CID No</th>
                        <th>Full Name</th>
                        <th>Gender</th>
                        <th>Nationality</th>
                        <th>Qualification</th>
                        <th>Joining Date</th>
                        <th>Trade Fields</th>
                        <th>Pay Slip</th>
                        <th>Remarks</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of tableData">
                        <td>{{ data.cId }}</td>
                        <td>{{data.name }}</td>
                        <td>{{data.sex }}</td>
                        <td>{{data.countryName }}</td>
                        <td>{{data.qualification }}</td>
                        <td>{{data.joiningDate }}</td>
                        <td>{{data.tradeName }}</td>
                        <td class="text-center bg-white">
                            <a *ngIf="data.paySlipFilePath" (click)="downloadFile(data.paySlipFilePath)">
                                <i class="pi pi-download"></i>
                            </a>
                        </td>

                        <td>{{data.remarks }}</td>
                        <td class="text-center bg-white">
                            <button type="button" class="btn btn-outline-info btn-sm" (click)="fetchTdsHcPension()">
                                Fetch TDS/HC/Pension
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Does the firm fulfill HR requirement -->
            <div class="col-md-4">
                <label class="form-label">Does the firm fulfill the required Human Resources?<span
                        class="text-danger">*</span></label>
                <select class="form-select form-control-sm" [(ngModel)]="tData.hrFulfilled" name="hrFulfilled"
                    required>
                    <option value="">-- Select --</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>

            <!-- Conditional fields when HR not fulfilled -->
            <ng-container *ngIf="tData.hrFulfilled === 'No'">
                <div class="row pt-4">
                    <div class="col-md-4">
                        <label class="form-label">Last Date to Resubmit<span class="text-danger">*</span></label>
                        <input type="date" class="form-control form-control-sm" [(ngModel)]="tData.resubmitDate"
                            name="resubmitDate" required />
                    </div>
                    <div class="col-md-8">
                        <label class="form-label">Remarks<span class="text-danger">*</span></label>
                        <textarea class="form-control form-control-sm" rows="2" [(ngModel)]="tData.remarks"
                            name="remarks" required></textarea>
                    </div>
                </div>
            </ng-container>

            <!-- Remarks when HR is fulfilled -->
            <ng-container *ngIf="tData.hrFulfilled === 'Yes'">
                <div class="col-md-12">
                    <label class="form-label">Remarks</label>
                    <textarea class="form-control form-control-sm" rows="2" [(ngModel)]="tData.remarks"
                        name="remarks"></textarea>
                </div>
            </ng-container>

            <!-- Buttons -->
           <div class="col-md-12 d-flex justify-content-end gap-2 mt-3" *ngIf="applicationStatus !== 'Resubmitted HR'" >
                <button *ngIf="tData.hrFulfilled === 'No'" type="button" class="btn btn-success"
                    (click)="saveAndNext()" [disabled]="isSaving">
                    <span *ngIf="isSaving" class="spinner-border spinner-border-sm me-2"></span>
                        {{ isSaving ? 'Forwarding...' : 'Save and Forward' }}
                </button>
                <button *ngIf="tData.hrFulfilled === 'Yes'" type="button" class="btn btn-success"
                    (click)="saveAndNext()" [disabled]="isSaving">
                    <span *ngIf="isSaving" class="spinner-border spinner-border-sm me-2"></span>
                        {{ isSaving ? 'Saving...' : 'Save and Next' }}
                </button>
            </div>

             <div class="col-md-12 d-flex justify-content-end gap-2 mt-3">
                <button *ngIf="applicationStatus === 'Resubmitted HR'" type="button" class="btn btn-success"
                    (click)="update()" [disabled]="isSaving">
                    <span *ngIf="isSaving" class="spinner-border spinner-border-sm me-2"></span>
                    {{ isSaving ? 'Saving...' : 'Update' }}
                </button>
            </div>
        </div>
    </form>
</div>