<div class="scroll-wrapper">

    <form #hrForm="ngForm">
        <div class="row g-3 m-4">
            <!-- Auto fields -->
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>CID No</th>
                        <th>Full Name</th>
                        <th>Gender</th>
                        <th>Nationality</th>
                        <th>Qualification</th>
                        <th>Joining Date</th>
                        <th>Trade Fields</th>
                        <th>Pay Slip</th>
                        <th>Remarks</th>
                        <th>Action</th>
                        <th>Verify</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="tableData?.length === 0">
                        <td colspan="12" class="text-center">No data found</td>
                    </tr>
                    <tr *ngFor="let data of tableData; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ data.cId }}</td>
                        <td>{{data.name }}</td>
                        <td>{{data.sex }}</td>
                        <td>{{data.countryName }}</td>
                        <td>{{data.qualification }}</td>
                        <td>{{data.joiningDate }}</td>
                        <td>{{data.tradeName }}</td>
                        <td class="text-center bg-white">
                            <a *ngIf="data.paySlipFilePath" (click)="downloadFile(data.paySlipFilePath)">
                                <i class="pi pi-download"></i>
                            </a>
                        </td>

                        <td>{{data.designationName }}</td>
                        <td class="text-center bg-white">
                            <button type="button" class="btn btn-outline-info btn-sm">
                                Fetch TDS/HC/Pension
                            </button>
                        </td>
                        <td class="text-center bg-white" *ngIf="i === 0" [attr.rowspan]="tableData.length">
                            <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Verify
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Does the firm fulfill HR requirement -->
            <div class="col-md-4">
                <label class="form-label">Does the firm fulfill the required Human Resources?<span
                        class="text-danger">*</span></label>
                <select class="form-select form-control-sm" [(ngModel)]="tData.hrFulfilled" name="hrFulfilled" required>
                    <option value="">-- Select --</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>

            <!-- Conditional fields when HR not fulfilled -->
            <ng-container *ngIf="tData.hrFulfilled === 'No' && applicationStatus !== 'Resubmitted HR' && applicationStatus !== 'Suspension Resubmission'">
                <div class="row pt-4">
                    <div class="col-md-4">
                        <label class="form-label">Last Date to Resubmit<span class="text-danger">*</span></label>
                        <input type="date" class="form-control form-control-sm" [(ngModel)]="tData.resubmitDate"
                            name="resubmitDate" required />
                    </div>
                    <div class="col-md-8">
                        <label class="form-label">Remarks<span class="text-danger">*</span></label>
                        <textarea class="form-control form-control-sm" rows="2" [(ngModel)]="tData.remarks"
                            name="remarks" required></textarea>
                    </div>
                </div>
            </ng-container>

            <!-- Remarks when HR is fulfilled -->
            <ng-container *ngIf="tData.hrFulfilled === 'Yes'">
                <div class="col-md-12">
                    <label class="form-label">Remarks</label>
                    <textarea class="form-control form-control-sm" rows="2" [(ngModel)]="tData.remarks"
                        name="remarks"></textarea>
                </div>
            </ng-container>

            <!-- Buttons -->
            <div class="col-md-12 d-flex justify-content-end gap-2 mt-3 flex-wrap">
                <!-- Save and Forward / Save and Next -->
                <button *ngIf="applicationStatus !== 'Resubmitted HR' && tData.hrFulfilled === 'No' && applicationStatus !== 'Suspension Resubmission'" type="button"
                    class="btn btn-success" (click)="saveAndNext()" [disabled]="isSaving">
                    <span *ngIf="isSaving" class="spinner-border spinner-border-sm me-2"></span>
                    {{ isSaving ? 'Forwarding...' : 'Save and Forward' }}
                </button>

                <button *ngIf="applicationStatus !== 'Resubmitted HR' && tData.hrFulfilled === 'Yes'" type="button"
                    class="btn btn-success" (click)="saveAndNext()" [disabled]="isSaving">
                    <span *ngIf="isSaving" class="spinner-border spinner-border-sm me-2"></span>
                    {{ isSaving ? 'Saving...' : 'Save and Next' }}
                </button>

                <!-- Update Button for Resubmitted HR -->
                <button *ngIf="applicationStatus === 'Resubmitted HR'" type="button" class="btn btn-success"
                    (click)="update()" [disabled]="isSaving">
                    <span *ngIf="isSaving" class="spinner-border spinner-border-sm me-2"></span>
                    {{ isSaving ? 'Saving...' : 'Update' }}
                </button>
                <a nz-popconfirm [nzPopconfirmTitle]="'Are you sure you want to reject this application?'"
                    [nzOkText]="'Yes, Reject'" [nzCancelText]="'Cancel'" (nzOnConfirm)="rejectApplication()">
                    <button class="btn btn-danger"
                        *ngIf="applicationStatus === 'Suspension Resubmission'">
                        Reject
                    </button>
                </a>
                <!-- Action Button -->
                <button class="btn btn-primary" *ngIf="applicationStatus === 'Resubmitted HR' && tData.hrFulfilled === 'No'" class="btn btn-primary"
                   data-bs-toggle="modal"
                        data-bs-target="#actionModal">
                    Action
                </button>
            </div>
        </div>
    </form>
</div>


<!-- Action Modal -->
<div class="modal fade" id="actionModal" tabindex="-1" aria-labelledby="actionModalLabel">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <form #actionForm="ngForm">
                <div class="modal-header" style="background-color:  #495f8a ">
                    <h5 class="modal-title text-white" id="actionModalLabel">Take Action</h5>
                    <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Action Type<span class="text-danger">*</span></label>
                            <select class="form-select h-50" [(ngModel)]="selectedAction.actionType" name="actionType"
                                required (change)="onActionTypeChange()">
                                <option value="">-- Select --</option>
                                <option value="cancel">Cancel</option>
                                <option value="suspend">Suspend</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
              <label class="form-label">Action Date <span class="text-danger">*</span></label>
              <input type="date" class="form-control h-50" [(ngModel)]="selectedAction.actionDate" name="actionDate"
                [disabled]="true" required />
            </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Remarks<span class="text-danger">*</span></label>
                        <textarea rows="3" class="form-control" [(ngModel)]="selectedAction.remarks" name="remarks"
                            required></textarea>
                    </div>

                    <!-- Downgrade Table -->
                    <div *ngIf="selectedAction.actionType === 'cancel'" class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Work Category</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let downgrade of downgradeList; trackBy: trackByWorkCategory">
                                    <td>
                                        <label [class.text-muted]="!downgrade.checked">
                                            <input type="checkbox" [(ngModel)]="downgrade.checked"
                                                [name]="'checked_' + downgrade.workCategoryId"
                                                [disabled]="!downgrade.checked" />
                                            {{ downgrade.workCategory }}
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" #closeActionModal class="btn btn-danger" (click)="closeModal()"
                        data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" (click)="submitAction()">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" [ngClass]="{ 'modal-xl': showTable }">
        <div class="modal-content  ">
            <div class="modal-header" style="background-color: #495f8a">
                <h5 class="modal-title text-white" id="exampleModalLabel">Verify PaySlip</h5>
                <button type="button" (click)="resetModalData()" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label class="form-label">
                            TPN No:
                            <span class="text-danger font-size-12">*</span>
                        </label>
                        <div class="col-md-6 d-flex ml--3">
                            <input type="text" name="tpnNo" class="form-control me-2 form-control-sm h-3rem"
                                [(ngModel)]="formData.tpnNo" required #bctaRegistrationNo="ngModel"
                                (input)="clearErrorMessage()" />

                            <button type="button" class="btn btn-primary" (click)="verifyPaySlip()">
                                {{ isFetching ? 'Fetching...' : 'Fetch' }}
                            </button>
                        </div>

                        <div class="text-danger" *ngIf="showErrorMessage">
                            {{ showErrorMessage }}
                        </div>
                    </div>


                </form>
                <div class="table-responsive" *ngIf="showTable">
                    <table class="table table-bordered table-striped">
                        <thead class="table-light">
                            <tr>
                                <th>Sl No.</th>
                                <th>Business Name</th>
                                <th>Company TPN</th>
                                <th>TDS TYPE</th>
                                <th>F Health contr</th>
                                <th>MONTH</th>
                                <th>YEAR</th>
                                <th>Group TPN</th>
                                <th>C_cid_no</th>
                                <th>C_TAX_PAYER_NAME</th>
                                <th>Return_Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of payslipDetails; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ data.business_name }}</td>
                                <td>{{ data.C_TPN }}</td>
                                <td>{{ data.TDS_TYPE }}</td>
                                <td>{{ data.F_Health_contr }}</td>
                                <td>{{ data.MONTH }}</td>
                                <td>{{ data.YEAR }}</td>
                                <td>{{ data.G_TPN }}</td>
                                <td>{{ data.C_cid_no }}</td>
                                <td>{{ data.C_TAX_PAYER_NAME }}</td>
                                <td>{{ data.Return_Status }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer" *ngIf="showTable">
                <!-- <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button> -->
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="resetModalData()">Close</button>
            </div>
        </div>
    </div>
</div>