.add{
    background: #53b5b2;

}
.add:hover{
    background: #45a29e;
}
.save-next-btn:disabled {
  opacity: 0.6;       /* Make it slightly transparent */
  cursor: not-allowed; /* Change cursor to indicate it's disabled */
  background-color: #d5dade !important; /* Optional: override background */
  border: none;       /* Optional: tweak as needed */
}
