.size-6 {
    width: 50px; /* Adjust size as necessary */
    height: 50px;
}

.ml-2 {
    margin-left: 0.5rem; /* Adjust the margin as necessary */
}

.row {
    display: flex;
    align-items: center;
}

.Suspended {
    flex: 0 0 auto;
    padding: 1rem;
    width: 83.3333%;
    margin-left: 268px;
}


 .height {
    height: 36px;
}