<div class="scroll-wrapper">

  <form #monitoringForm="ngForm">
    <div class="m-4">

      <div class="table-responsive">
        <table class="table table-bordered align-middle">
          <thead class="table-light text-center">
            <tr>
              <th>Full Name</th>
              <th>Designation</th>
            </tr>
          </thead>
          <tbody>
             <tr>
              <td class="text-center">{{userInfo.username }}</td>
              <td class="text-center">{{designation}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <!-- Review Date -->
        <div class="col-md-6 mb-3">
          <label class="form-label">
            Review Date* <span class="text-danger">*</span>
          </label>
          <input type="date" class="form-control form-control-sm" name="reviewDate" [(ngModel)]="formData.reviewDate"
            #reviewDate="ngModel" required />
          <div *ngIf="reviewDate.invalid && reviewDate.touched" class="text-danger font-size-12">
            Please provide a review date
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-end align-items-center">
        <!-- Reinstate Button -->
        <div class="col-auto mr--4">
          <a nz-popconfirm [nzPopconfirmTitle]="'Do you want to Reinstate the application?'"
            (nzOnConfirm)="reinstate(bctaNo)" *ngIf="applicationStatus === 'Suspension Resubmission'">
            <button class="btn btn-danger h-100">
              Reinstate
            </button>
          </a>
        </div>

        <!-- Save Button -->
        <div class="col-auto">
          <a nz-popconfirm [nzPopconfirmTitle]="'Are you sure you want to save these changes?'" [nzOkText]="'Yes, Save'"
            [nzCancelText]="'Cancel'" (nzOnConfirm)="onSubmit(monitoringForm)"> <!-- Change to your actual submit handler -->
            <button type="button" class="btn btn-success" [disabled]="monitoringForm.invalid || isSaving">
              <span *ngIf="isSaving" class="spinner-border spinner-border-sm me-2" role="status"
                aria-hidden="true"></span>
              {{ isSaving ? 'Saving...' : 'Save' }}
            </button>
          </a>
        </div>
      </div>
    </div>
  </form>
</div>