<form class=""> 
  <div class="d-flex justify-content-between align-items-end mt-5">
    <div class="mr-2 ">
    </div>
    <button (click)="openModal()"
    type="button"
   class="btn btn-primary btn-sm pointer"
    data-bs-toggle="modal" data-bs-target="#addModal">
  + Add 
    </button>
  </div>
    <div class="table-responsive p-0 m-0">
        <table id="datatable-1" class="table table-striped table-bordered mt-2">
            <thead>
                <tr>
                    <th rowspan="2" class="p-3">#</th>
                    <th rowspan="2" class="text-center">Name</th>
                    <th rowspan="2" class="text-center">CID No.</th>
                    <th rowspan="2" class="p-1 text-center">Gender</th>
                    <th rowspan="2" class="p-1 text-center">Designation</th>
                    <th rowspan="2" class="p-1 text-center"> Nationality</th>
                    <th rowspan="2" class="p-1 text-center"> Action</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="TableData?.length === 0">
                    <td colspan="6" class="text-center">No data found</td>
                </tr>
                <tr *ngFor="let ownerDetail of TableData; let i = index">
                    <td>{{ i + 1}}</td>
               <td>{{ownerDetail.name}}</td>
               <td>{{ownerDetail.cidNo}}</td>
               <td>{{ownerDetail.gender}}</td>
               <td>{{ownerDetail.designation }}</td>
               <td>{{ownerDetail.nationality}}</td>
               <td class="text-center">
                <button (click)="editOwner(ownerDetail)" type="button" class="btn btn-sm btn-success"data-bs-toggle="modal" data-bs-target="#editModal">Edit</button>
              </td> 
               <!-- <td>{{data.dzongkhag}}</td>
               <td>{{data.gewog}}</td>
               <td>{{data.village}}</td> -->
            
               
               </tr>
           </tbody>
        </table>
    </div>
</form>
<p-toast></p-toast>
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Owner Information</h5>
      </div>
      <div class="modal-body">
        <!-- Table -->
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="table-light">
              <tr class="text-center">
                <th>CID/Work Permit No.</th>
                <th>Salutation</th>
                <th class="w-16rem">Name</th>
                <th>Gender</th>
                <th>Nationality</th>
                <th>Designation</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td>
                  <input 
                    type="text" 
                    class="form-control rounded-0 h-100 mt-2"
                    [(ngModel)]="owner.cidNo"
                    placeholder="Enter CID"
                    [disabled]="isCidDisabled" 
                  />
                  <div *ngIf="!owner.cidNo && submitted" class="text-danger">
                    This field is required!
                  </div>
                  <div *ngIf="isLoadingforcid" class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <button (click)="fetchDetailsFromDCRC(owner.cidNo)" type="button" class="btn btn-primary btn-sm rounded-0 mt-1">Fetch</button>
                  <button (click)="clearData()" type="button" class="btn btn-danger btn-sm rounded-0 mt-1 ml-1">Clear</button>
                </td>
                <td>
                  <select class="form-select mt--4 rounded-0" 
                    [(ngModel)]="owner.salutation">
                    <option value="">---SELECT---</option>
                    <option *ngFor="let sal of salutationList" [value]="sal.id">
                      {{ sal.name }}
                    </option>
                  </select>
                  <div *ngIf="!owner.salutation && submitted" class="text-danger">
                    This field is required!
                  </div>
                </td>
                <td>
                  <input 
                    type="text" 
                    class="form-control mt--4 rounded-0 h-100" 
                    [(ngModel)]="owner.name"
                    [ngClass]="{'is-invalid': !owner.name && submitted}"
                    placeholder="Enter Name" 
                    [disabled]="isNameDisabled" 
                  />
                </td>
                <td>
                  <input 
                    type="text" 
                    class="form-control mt--4 rounded-0 h-100" 
                    [(ngModel)]="owner.gender"
                    [ngClass]="{'is-invalid': !owner.gender && submitted}"
                    placeholder="Enter Gender" 
                    [disabled]="isNameDisabled" 
                  />
                </td>
                <td>
                  <select class="form-select mt--4 rounded-0" 
                    [(ngModel)]="owner.nationality">
                    <option value="">---SELECT---</option>
                    <option *ngFor="let nationality of nationalityList" [value]="nationality.id">
                      {{ nationality.nationality }}
                    </option>
                  </select>
                  <div *ngIf="!owner.nationality && submitted" class="text-danger">
                    This field is required!
                  </div>
                </td>
                <td>
                  <select class="form-select mt--4 rounded-0 h-100" 
                    [(ngModel)]="owner.designation">
                    <option value="">---SELECT ONE---</option>
                    <option *ngFor="let designation of designationList" [value]="designation.id">
                      {{ designation.name }}
                    </option>
                  </select>
                  <div *ngIf="!owner.designation && submitted" class="text-danger">
                    This field is required!
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Reason for Change of Location -->
        <!-- <div class="form-group mt-3">
          <label for="reasonForChange">Reason for Change of Location</label>
          <textarea
            id="reasonForChange"
            [(ngModel)]="owner.reasonForChange"
            class="form-control h-100"
            rows="3"
            placeholder="Required only if you have applied for Change of Location"
          ></textarea>
        </div> -->
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="onCreateOwnerInformation()">Save</button>
        <button class="btn btn-danger" (click)="resetData()" #closeButton data-bs-dismiss="modal">Cancel</button>
       
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Owner Information</h5>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="table-light">
              <tr class="text-center">
                <th>CID/Work Permit No.</th>
                <th>Salutation</th>
                <th class="w-16rem">Name</th>
                <th>Gender</th>
                <th>Nationality</th>
                <th>Designation</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td>
                  <input 
                    type="text" 
                    class="form-control rounded-0"
                    [(ngModel)]="owner.cidNo" 
                    placeholder="Enter CID No." 
                  />
                  <div *ngIf="isLoadingforcid" class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <button (click)="fetchDetailsFromDCRC(owner.cidNo)" type="button" class="btn btn-primary btn-sm rounded-0 mt-1">Fetch</button>
                  <button (click)="clearData()" type="button" class="btn btn-danger btn-sm rounded-0 mt-1 ml-1">Clear</button>
                </td>
                <td>
                  <select class="form-select rounded-0 mt--4" [(ngModel)]="owner.salutation"
                  (ngModelChange)="onSalutationChange($event)">
                    <option value="">---SELECT---</option>
                    <option *ngFor="let sal of salutationList" [value]="sal.name">
                      {{ sal.name }}
                    </option>
                  </select>
                </td>
                <td>
                  <input 
                    type="text" 
                    class="form-control mt--4 rounded-0"
                    [(ngModel)]="owner.name" 
                    placeholder="Enter Name" 
                    [disabled]="isNameDisabled" 
                  />
                </td>
                <td>
                  <input 
                    type="text" 
                    class="form-control mt--4 rounded-0"
                    [(ngModel)]="owner.gender" 
                    placeholder="Enter Gender" 
                    [disabled]="isNameDisabled" 
                  />
                </td>
                <td>
                  <select class="form-select rounded-0 mt--4" [(ngModel)]="owner.nationality"
                    (ngModelChange)="onNationalityChange($event)">
                    <option value="">---SELECT---</option>
                    <option *ngFor="let nat of nationalityList" [value]="nat.nationality">
                      {{ nat.nationality }}
                    </option>
                  </select>
                </td>
                <td>
                  <select class="form-select rounded-0 mt--4" [(ngModel)]="owner.designation"
                  (ngModelChange)="onDesignationChange($event)">
                    <option value="">---SELECT---</option>
                    <option *ngFor="let des of designationList" [value]="des.name">
                      {{ des.name }}
                    </option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onUpdateOwnerInformation()">Save</button>
        <button type="button" class="btn btn-danger"  #editButton data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
