
svg {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
}
.form-control {
    height: 36px;
    line-height: 1.5;
    background: #fff;
    font-size: 14px;
    color: #324253;
    border-radius: 0.375rem;
    box-shadow: none;
  }
  .modal-lg {
    max-width: 70%;
    max-height: 50%;
  }