<div class="d-flex justify-content-center align-items-center" style="height: 100vh;" *ngIf="loading">
  <div>
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <p class="mt-2">Loading...</p>
  </div>
</div>
<div class="m-4" *ngIf="!loading">
  <!-- <div class="d-flex justify-content-between align-items-center p-2 flex-wrap">
      <div class="font-weight-bold h5 mb-0">
        Monitored Site Application
      </div>
      <div class="d-flex align-items-center">
        <input type="text" placeholder="BCTA No or Firm Name" class="form-control form-control-sm"/>
      </div>
    </div> -->
  <div class="font-weight-bold h5 mb-0">
    Monitored Site Application
  </div>
  <div class="row">
    <div class="col d-flex pl-4">
      <p class="mr-1 p-1 text-gray-600">Items Per Page</p>
      <select class="form-control-sm itemPerPage ml-2 " (change)="setLimitValue($event.target.value)"
        style="border-color: #ced4da;">
        <option class="page-item" *ngFor="let limit of set_limit">{{ limit }}</option>
      </select>
    </div>
    <div class="col-lg-7 d-flex justify-content-end pr-2">
      <p class="mr-1 p-1 text-gray-600">Search By : </p>
      <input type="text" placeholder="AppNo, BCTA No or Status" class="form-control form-control-sm col-md-4"
        id="search " [(ngModel)]="searchQuery" (input)="Searchfilter()" />
    </div>
  </div>

  <div class="table-responsive ">
    <table id="datatable-1" class="table table-bordered table-sm rounded-2">
      <thead>
        <tr>
          <th class="text-center p-1">#</th>
          <th class="text-center">Monitoring Reference Number</th>
          <th class="text-center">BCTA No</th>
          <th class="text-center">Firm Name</th>
          <th class="text-center">Name of Work</th>
          <th class="text-center">Location</th>
          <th class="text-center">Contract Amount</th>
          <th class="text-center">Start Date</th>
          <th class="text-center">Proposed Completion Date</th>
          <th class="text-center">Procuring Agency</th>
          <th class="text-center">Work Type</th>
          <th class="text-center">Status</th>
          <th class="text-center">Action</th>
          <th class="text-center">Select</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="tableData?.length === 0">
          <td colspan="16" class="text-center">No data found</td>
        </tr>
        <tr *ngFor="let data of tableData; let i = index">
          <td class="p-1 text-center">{{ i + 1 }}</td>
          <td class="text-bold text-center text-nowrap ">{{ data.application_number }}</td>
          <td class="text-center"><a>{{ data.awardedBctaNo || data.other_bcta_no }}</a></td>
          <td class="text-center">{{ data.nameOfFirm }}</td>
          <td class="text-center  ">{{ data.workName }}</td>
          <td class="text-center">{{ data.dzongkhag || data.place }}</td>
          <td class="text-center">{{ data.awardedAmount }}</td>
          <td class="text-center text-nowrap ">{{ data.officialStartDate | date: 'dd-MM-yyyy' }}</td>
          <td class="text-center text-nowrap  ">{{ data.officialEndDate | date: 'dd-MM-yyyy' }}</td>
          <td class="text-center">{{ data.agency }}</td>
          <td class="text-center">
            {{ data.inspection_type }}
            <span *ngIf="data.inspection_type === 'OTHERS'">{{ data.otherWorkType }}</span>
          </td>

          <td class="text-center" [ngClass]="{
              'text-success': data.applicationStatus === 'APPROVED',
              'text-danger': data.applicationStatus === 'REJECTED'
            }">
            {{ data.applicationStatus }}
          </td>

          <td class="text-center text-nowrap pointer-event ">
            <button *ngIf="data.applicationStatus === 'APPROVED'" (click)="getCheckListId(data.checklist_id)"
              class="btn btn-primary btn-sm h-100 me-2 pointer-event" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              <span class="text-white">Perform Action</span>
            </button>

            <button *ngIf="data.applicationStatus === 'REJECTED'" (click)="reviewAgain(data)"
              class="btn btn-danger btn-sm h-100 me-2 pointer-event">
              <span class="text-white">Resubmit</span>
            </button>

            <button *ngIf="data.applicationStatus === 'ACTION TAKEN'" (click)="getCheckListId(data.checklist_id)"
              class="btn btn-primary btn-sm h-100 me-2 pointer-event" data-bs-toggle="modal"
              data-bs-target="#checklistModal">
              <span class="text-white">Generate</span>
            </button>

            <button *ngIf="data.inspection_type === 'OTHERS' && data.applicationStatus === 'SUBMITTED'"
              (click)="getworkId(data)" class="btn btn-warning btn-sm h-100">
              <span class="text-white" data-bs-toggle="modal" data-bs-target="#editWorkInformation">Edit</span>
            </button>
          </td>
          <td class="text-center">
            <input type="checkbox"
              [disabled]="data.applicationStatus === 'REJECTED' || data.applicationStatus === 'ACTION TAKEN' || data.applicationStatus === 'APPROVED'"
              [(ngModel)]="data.rightSelected" (change)="onCheckboxChange(data)" />
          </td>
        </tr>
      </tbody>
    </table>
    <div class="justify-content-end d-flex"
      *ngIf="tableData && tableData?.length > 0 && selectedChecklistIds.length > 0">
        <a nz-popconfirm [nzPopconfirmTitle]="'Do you want to forward the application?'"
                (nzOnConfirm)="forwardApplication()">
                <button *ngIf="selectedChecklistIds.length > 0"  class="btn btn-success pi pi-angle-right h-100  pointer-event">
                    Forward to Review
                </button>
            </a>
      <!-- <button *ngIf="selectedChecklistIds.length > 0" (click)="forwardApplication()" class="btn btn-success  pointer-event">
        <span class="text-white">Forward to Review</span>
        <i class="pi pi-forward text-white ms-2"></i>
      </button> -->
    </div>
  </div>
</div>
<div *ngIf="tableData && tableData?.length > 0" class="justify-content-start mb--3">
  <div class="justify-content-start font-size-12 font-bold ml-2">
    <p>{{ calculateOffset() }}</p>
    <div class="d-flex justify-content-end m-3 mr-0 m-lg--5">
      <div *ngIf="tableData" class="Page navigation">
        <ul class="pagination pagination-sm mr-2 m--5 ml--1">
          <li class="page-item" (click)="previousPage()">
            <a class="page-link pointer-event">Previous</a>
          </li>
          <ng-container *ngFor="let page of generatePageArray()">
            <li class="page-item" [class.active]="page === pageNo" (click)="goToPage(page)">
              <a class="page-link" *ngIf="page !== -1">{{ page }}</a>
              <span class="page-link ellipsis" *ngIf="page === -1">...</span>
            </li>
          </ng-container>
          <li class="page-item" (click)="nextPage()">
            <a class="page-link pointer-event">Next</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #495f8a">
        <h5 class="modal-title text-white" id="exampleModalLabel">Record of Monitoring observations actions  taken by the
           ВСТА
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #form="ngForm">
          <div class="p-3">
            <div class="row align-items-end">
              <div class="col-md-6 mb-3">
                <label class="form-label">BCTA Registration Number:<span
                    class="text-danger font-size-12">*</span></label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="formData.contractorNo"
                  placeholder="Text" name="contractorNo" required #contractorNo="ngModel">
                <div *ngIf="contractorNo.invalid && contractorNo.touched" class="text-danger font-size-12">
                  Please enter BCTA Registration Number
                </div>
              </div>

              <div class="col-md-6 mb-3">
                <label class="form-label">Action Taken:<span class="text-danger font-size-12">*</span></label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="formData.actionTaken"
                  placeholder="Text" name="actionTaken" required #actionTaken="ngModel">
                <div *ngIf="actionTaken.invalid && actionTaken.touched" class="text-danger font-size-12">
                  Please enter Action Taken
                </div>
              </div>
            </div>
            <div class="row align-items-end">
              <div class="col-md-6 mb-3">
                <label class="form-label">Action Taken Reference:<span class="text-danger font-size-12">*</span></label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="formData.referenceNo"
                  placeholder="Text" name="referenceNo" required #referenceNo="ngModel">
                <div *ngIf="referenceNo.invalid && referenceNo.touched" class="text-danger font-size-12">
                  Please enter Reference No
                </div>
              </div>
              <div class="col-md-6 mb-auto">
                <label class="form-label">Date:<span class="text-danger font-size-12">*</span></label>
                <input type="date" class="form-control form-control-sm" [(ngModel)]="formData.date" placeholder="Auto"
                  name="date" required #date="ngModel">
                <div *ngIf="date.invalid && date.touched" class="text-danger font-size-12">
                  Please enter Date
                </div>
              </div>
            </div>
          </div>
          <div class="justify-content-end d-flex">
            <button #closeactionTakenModal class="btn btn-danger mr-1 " type="submit"
              data-bs-dismiss="modal">Cancel</button>
            <button class="btn text-white save-next-btn" (click)="saveObservationReport(form)"
              type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="checklistModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-dialog-scrollable">
      <div class="modal-header" style="background-color: #495f8a">
        <h5 class="modal-title text-white" id="exampleModalLabel">
          Generate list of compliance/non compliance checklist
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" #closeModal aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs m-0 justify-content-center custom-tab" id="checklistTabs" role="tablist">
          <li class="nav-item col-6 p-0" role="presentation">
            <button [class.active]="activeTab === 'Contractor'" (click)="setActiveTab('Contractor')"
              class="nav-link active w-100 rounded-pill rounded-start custom-tab-btn" id="contractor-tab"
              data-bs-toggle="tab" data-bs-target="#contractor" type="button" role="tab" aria-controls="contractor"
              aria-selected="true">
              Contractor
            </button>
          </li>
          <li class="nav-item col-6 p-0" role="presentation">
            <button [class.active]="activeTab === 'Client'" (click)="setActiveTab('Client')"
              class="nav-link w-100  rounded-pill rounded-end custom-tab-btn" id="client-tab" data-bs-toggle="tab"
              data-bs-target="#client" type="button" role="tab" aria-controls="client" aria-selected="false">
              Client
            </button>
          </li>
        </ul>
        <div class="tab-content pt-3" id="checklistTabsContent">
          <!-- Contractor Tab -->
          <div class="tab-pane fade show active" id="contractor" role="tabpanel" aria-labelledby="contractor-tab">
            <form #form="ngForm" *ngIf="showContractorInf">
              <div class="p-3">
                <div class="row align-items-end">
                  <div class="col-md-6 mb-3">
                    <label class="form-label">
                      BCTA Registration Number:
                      <span class="text-danger font-size-12">*</span>
                    </label>
                    <div class="d-flex">
                      <input type="text" class="form-control form-control-sm me-2" [(ngModel)]="formData.contractorNo"
                        placeholder="Text" name="contractorNo" id="contractorNo" required #contractorNo="ngModel">
                      <button type="button" class="btn btn-primary btn-sm"
                        (click)="searchBasedOnBCTANo()">Search</button>
                    </div>
                    <div *ngIf="contractorNo.invalid && contractorNo.touched" class="text-danger font-size-12">
                      Please enter BCTA Registration Number
                    </div>
                    <div *ngIf="errorMessage" class="text-danger font-size-12">
                      {{errorMessage}}
                    </div>
                  </div>

                  <div class="col-md-6 mb-3">
                    <label class="form-label">Contractor Firm Name:<span
                        class="text-danger font-size-12">*</span></label>
                    <input type="text" (input)="clearErrorMessage()" class="form-control form-control-sm"
                      [(ngModel)]="formData.nameOfFirm" placeholder="Auto" name="nameOfFirm" required
                      #nameOfFirm="ngModel" [disabled]="isFormDataLoaded">
                    <div *ngIf="nameOfFirm.invalid && nameOfFirm.touched" class="text-danger font-size-12">
                      Please enter Name Of Firm
                    </div>
                  </div>
                </div>

                <div class="row align-items-end">
                  <div class="col-md-6 mb-auto">
                    <label class="form-label">Email address:<span
                        class="text-danger h-11rem font-size-12">*</span></label>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="formData.email"
                      placeholder="Auto" name="email" required #email="ngModel">
                    <div *ngIf="email.invalid && email.touched" class="text-danger font-size-12">
                      Please enter Email Address
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">
                      List of items/Checklist:
                      <span class="text-danger font-size-12">*</span>
                    </label>
                    <select class="form-select form-control-sm h-11rem font-size-12" id="listOfItems" name="listOfItems"
                      [(ngModel)]="formData.listOfItemsType" required multiple #listOfItemsRef="ngModel">
                      <option value="onsite_facilities_and_management">Onsite Facilities and Management</option>
                      <option value="contract_document_at_site">Contract Document at Site</option>
                      <option value="work_progress">Work Progress</option>
                      <option value="work_task_quality">Work Task Quality</option>
                      <option value="qualification_of_subcontractors">Qualification of Subcontractors</option>
                      <option value="onsite_quality_confirmation_test">Onsite Quality Confirmation Test against the
                        Designed Specification</option>
                      <option value="ohs_view">Occupational Health and Safety</option>
                      <option value="committed_equipment_view">List of Committed Human Resources in Contract</option>
                      <option value="human_resources_strength">Human Resources Strength at Site</option>
                      <option value="human_resources_view">Human Resources In Contract</option>
                    </select>
                    <div *ngIf="listOfItemsRef.invalid && listOfItemsRef.touched" class="text-danger font-size-12">
                      Please select at least one option for List Of Items
                    </div>
                  </div>
                </div>

                <div class="row align-items-end">
                  <div class="col-md-12 mb-3">
                    <label class="form-label">Remarks:<span class="text-danger font-size-12">*</span></label>
                    <textarea class="form-control form-control-sm" placeholder="Enter remarks"
                      [(ngModel)]="formData.remarks" name="remarks" required #remarks="ngModel"></textarea>
                    <div *ngIf="remarks.invalid && remarks.touched" class="text-danger font-size-12">
                      Please enter remarks.
                    </div>
                  </div>
                </div>
              </div>
              <div class="justify-content-end d-flex">
                <button class="btn text-white save-next-btn" type="button" (click)="goToClientTab()">Next</button>
              </div>
            </form>
          </div>

          <!-- Client Tab -->
          <div [class.show]="activeTab === 'Client'" [class.active]="activeTab === 'Client'" class="tab-pane fade"
            id="client" role="tabpanel" aria-labelledby="client-tab">
            <div class="p-3 text-muted">
              <!-- You can replace this with any client-specific form or message -->
              <div class="justify-content-end d-flex">
                <table class="table table-bordered align-middle text-sm">
                  <thead class="table-light text-center">
                    <tr>
                      <th scope="col">CID No</th>
                      <th scope="col">Full Name</th>
                      <th scope="col">Mobile No</th>
                      <th scope="col">Designation</th>
                      <th scope="col">Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let formData of dataList; let i = index">
                      <td class="text-center bg-white">{{ formData.cid_no }}</td>
                      <td class="text-center bg-white">{{ formData.full_name }}</td>
                      <td class="text-center bg-white">{{ formData.mobile_no }}</td>
                      <td class="text-center bg-white">{{ formData.designation }}</td>
                      <td class="text-center bg-white">{{ formData.email }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="justify-content-end d-flex">
              <button class="btn mr-1 text-white btn-warning" type="button" (click)="goToPreviousTab()">Prev</button>
              <button class="btn text-white save-next-btn" (click)="generateChecklistDetails(form)"
                type="submit">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="editWorkInformation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header " style="background-color: #495f8a">
        <h5 class="modal-title text-white" id="staticBackdropLabel">Edit Work Information
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #form="ngForm">
          <div class="p-3">
            <div class="row">
              <div class="col-md-4 mb-3">
                <label class="form-label">
                  Project Name:<span class="text-danger font-size-12">*</span>
                  <span class="text-danger font-size-12">*</span>
                </label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="formData.projectName"
                  placeholder="Text" name="projectName" required #projectName="ngModel">
                <div *ngIf="projectName.invalid && projectName.touched" class="text-danger font-size-12">
                  Please enter Project Name
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="dzongkhag" class="form-label">Dzongkhag<span class="text-danger">*</span></label>
                <select class="form-select font-size-16" id="dzongkhagId" name="dzongkhagId"
                  [(ngModel)]="formData.dzongkhagId">
                  <option>--select--</option>
                  <option *ngFor="let dzongkhag of dzongkhagList" [value]="dzongkhag.id">
                    {{ dzongkhag.name }}
                  </option>
                </select>
              </div>
              <div class="col-md-4 mb-3">
                <label for="dzongkhag" class="form-label">Place Name<span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="formData.placeName"
                  placeholder="Text" name="placeName" required #placeName="ngModel" />
                <div *ngIf="placeName.invalid && placeName.touched" class="text-danger font-size-12">
                  Please enter Place Name
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 mb-3">
                <label class="form-label">Contract Amount:<span class="text-danger font-size-12">*</span></label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="formData.contractAmount"
                  placeholder="Auto" name="contractAmount" required #contractAmount="ngModel">
                <div *ngIf="contractAmount.invalid && contractAmount.touched" class="text-danger font-size-12">
                  Please enter Contract Amount
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label class="form-label">Start Date:<span class="text-danger font-size-12">*</span></label>
                <input type="date" class="form-control form-control-sm" [(ngModel)]="formData.startDate"
                  placeholder="Auto" name="startDate" required #startDate="ngModel">
                <div *ngIf="startDate.invalid && startDate.touched" class="text-danger font-size-12">
                  Please enter Start Date
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label class="form-label">Proposed Completion Date:<span
                    class="text-danger font-size-12">*</span></label>
                <input type="date" class="form-control form-control-sm" [(ngModel)]="formData.proposedCompletionDate"
                  placeholder="Auto" name="proposedCompletionDate" id="proposedCompletionDate" required
                  #proposedCompletionDate="ngModel">
                <div *ngIf="proposedCompletionDate.invalid && proposedCompletionDate.touched"
                  class="text-danger font-size-12">
                  Please enter Proposed Completion Date
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label class="form-label">Client:<span class="text-danger font-size-12">*</span></label>
                <select id="client" name="client" class="form-select font-size-16" [(ngModel)]="formData.client">
                  <option>--select--</option>
                  <option *ngFor="let agency of PocuringAgencyList" [ngValue]="agency.id">
                    {{ agency.agency_name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="justify-content-end d-flex">
            <button #closeupdateOwner class="btn mr-1 text-white btn-danger" type="submit"
              data-bs-dismiss="modal">Cancel</button>
            <button class="btn text-white save-next-btn" (click)="updateOwnerInformation(form)"
              type="submit">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

