<span class="font-size-14 font-weight-bold m-3"> Specilized Firm Registration Details</span>
<hr />

<div class="m-3" *ngIf="specializedFirmData">
  <table class="table table-bordered table-sm font-size-12">
    <thead>
      <tr>
        <th>#</th>
        <th>Field</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Firm Name</td>
        <td>{{ specializedFirmData.firm_name || 'N/A' }}</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Qualification</td>
        <td>{{ specializedFirmData.qualification || 'N/A' }}</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Nationality</td>
        <td>{{ specializedFirmData.nationality || 'N/A' }}</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Joining Date</td>
        <td>{{ specializedFirmData.joining_date | date:'mediumDate' || 'N/A' }}</td>
      </tr>
      <tr>
        <td>5</td>
        <td>HR Requirements</td>
        <td>{{ specializedFirmData.fulfills_hr_requirements || 'N/A' }}</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Pay Slip</td>
        <td>
          <a *ngIf="specializedFirmData.pay_slip" href="#" (click)="downloadPaySlip(specializedFirmData.pay_slip)">
            {{ specializedFirmData.pay_slip }}
          </a>
          <span *ngIf="!specializedFirmData.pay_slip">N/A</span>
        </td>
      </tr>
      <tr>
        <td>7</td>
        <td>Final Remarks</td>
        <td>{{ specializedFirmData.final_remarks || 'N/A' }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!specializedFirmData && !isLoading" class="m-3">
  <span class="font-size-12">No firm details available</span>
</div>

<div *ngIf="isLoading" class="m-3">
  <span class="font-size-12">Loading firm details...</span>
</div>