.nav-tabs {
    border-bottom: 2px solid #cdf;
    margin-bottom: 15px;
    margin-left: 10px;
}
.nav-tabs .nav-link.active {
    border-bottom: 3px solid #007bff !important; /* Change color as needed */
  }
  