.scroll-wrapper {
  max-height: 80vh; /* or 100vh, adjust as needed */
  overflow-y: auto;
  padding: 16px;
}

thead th {
  background-color: #495f8a !important;
  color: white;
  text-align: center;
  padding: 0.5rem;
}