<div class="container p-4 border rounded bg-white">
  <form #form="ngForm">
    <div class="table-responsive">
      <table class="table table-bordered align-middle">
        <thead class="table-light text-center">
          <tr>
            <th>CID No</th>
            <th>Full Name</th>
            <th>Mobile No</th>
            <th>Email</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of teamList; let i = index">
            <td class="text-center">{{team.cid_emp_id}}</td>
            <td class="text-center">{{team.name}}</td>
            <td class="text-center">{{team.contact_no}}</td>
            <td class="text-center">{{team.email}}</td>
          </tr>
        </tbody>
        <tbody *ngIf="showAddMore">
          <tr *ngFor="let formData of dataList; let i = index">
            <td>
              <input type="number" [(ngModel)]="formData.cidNo" [name]="'cidNo_' + i" class="form-control h-100"
                placeholder="CID No" (ngModelChange)="onCidChange(formData)"/>
            </td>
            <td>
              <input type="text" [(ngModel)]="formData.fullName" [name]="'fullName_' + i" class="form-control h-100"
                placeholder="Full Name" />
            </td>
            <td>
              <input type="number" [(ngModel)]="formData.mobileNo" [name]="'mobileNo_' + i" class="form-control h-100"
                placeholder="Mobile No" />
            </td>
            <td>
              <input type="text" [(ngModel)]="formData.email" [name]="'email_' + i" class="form-control h-100"
                placeholder="Email" />
            </td>

            <td class="text-center">
              <button class="btn btn-sm btn-outline-danger" (click)="removeRow(i)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
  <div class="d-flex justify-content-end mt-3">
    <button class="btn btn-outline-primary btn-sm" (click)="addRow()" [disabled]="appNoStatus === 'REJECTED'">+ Add
      More</button>
  </div>

  <!-- OTP Input Section -->
  <div class="row mt-4">
    <div class="col-md-4">
      <label class="form-label">Monitoring Date</label>
      <input type="date" [(ngModel)]="formData.monitoringDate" id="monitoringDate" name="monitoringDate"
        class="form-control form-control-sm" placeholder="Monitoring Date" />
    </div>
  </div>

  <!-- Final Action -->
  <div class="d-flex justify-content-end mt-4">
    <button class="btn mr-1 text-white prev-btn" *ngIf="appNoStatus !== 'REJECTED'" type="submit"
      (click)="onPreviousClick()" type="submit">Prev</button>
    <button class="btn text-white save-next-btn" (click)="saveMonitorTeamList(form)" type="submit">Save&Next</button>
  </div>
</div>